<div class="images-background">
	<img @for="let photo of album" [src]="'assets/img/photos/raquel/' + photo.number + '.jpeg'" alt=""/>
</div>
<div class="first-page">
	<div class="page-content">
		<div class="container">
			<div class="up-title">
                <img src="assets/logo-without-bg.png" alt=""/>
				Raquel & Fábio
			</div>

			<div class="up-note">
				Sua presença é o nosso maior presente, mas caso queira nos presentear de outra forma, ficaremos muito felizes!
			</div>

			<div class="drop-down">
				<div (click)="toggleCategoryShow()">
					<span [class]="{ 'selected': dropDownCategory.selected }">
						{{dropDownCategory.selected ? dropDownCategory.selected.title : '🎁 Como deseja nos Presentear?'}}
					</span>
				</div>
				<ul @if="dropDownCategory.show">
					<li @for="item of dropDownCategory.items" (click)="selectCategoryItem(item)"
						[class]="{ 'selected': dropDownCategory.selected === item }">
						{{item.title}}
					</li>
				</ul>
			</div>

			<br />

			<div @if="showValue">
				<div class="range-value">
					<button (click)="decrease()">-</button>
					<div class="line-bar">
						<div [style]="{ 'width': (rangeValue.currentValue/rangeValue.match + '%') }">
							<p>{{ Currency.format(rangeValue.currentValue) }}</p>
						</div>
						<div [style]="{ 'width': 100 - (rangeValue.currentValue/rangeValue.match) + '%' }">
						</div>
					</div>
					<button (click)="increase()">+</button>
				</div>

				<div class="message-input">
                    <form [form]="messageForm">
                        <input maxlength="118" placeholder="Deixe uma breve mensagem para nós! (opcional)" form-field-name="message"/>
                    </form>
				</div>

				<button (click)="openQrCode()">Presentear</button>
			</div>
		</div>
	</div>
</div>