@import '~@nimble-ts/core/style.scss';
@include nimble-core();

@import 'scss/reset';
@import 'scss/animations.scss';

@font-face {
  font-family: 'Hello Paris';
  src: url('./assets/fonts/hello-paris/Hello-Paris-Sans-Regular.ttf') format('truetype'),
       url('./assets/fonts/hello-paris/Hello-Paris-Sans-Bold.ttf') format('truetype'),
       url('./assets/fonts/hello-paris/Hello-Paris-Sans-ExtraLight.ttf') format('truetype'),
       url('./assets/fonts/hello-paris/Hello-Paris-Sans-Light.ttf') format('truetype'),
       url('./assets/fonts/hello-paris/Hello-Paris-Sans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
